.message{
    font-size: 1.25em;
    font-weight: 600;
    color: var( --blue-1 );
}

*{
    user-select: none;
}

.api{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 250;
    background-color: #FFFFFF;
}

.api .start{
    border-top: 4px solid var( --blue-4 );
    height: 65px;
}

.api .start .name{
    flex: 1;
    font-size: 0.9em;
    font-weight: 600;
    color: var( --blue-4 );
}

.api .start ._icon .items{
    background-color: var( --blue-4 );
}

.api .end{
    flex: 1;
}

.api .end > .row{
    flex: 1;
}

.api .end .workSpace{
    flex: 1;
}

.api-text{
    font-size: 0.9em;
    letter-spacing: 0.12em;
}

.api-bar{
    background-color: var( --blue-4 );
    border-radius: 5px;
    height: 4px;
    width: 80%;
    max-width: 150px;
    margin-top: 60px;
}

.mainSpace{
    flex: 1;
}

.finalSpace .btn{
    font-size: 0.85em;
    color: #FFFFFF;
    border: none;
}

.finalSpace .btn:hover,
.finalSpace .btn:focus{
    box-shadow: none;
    color: #FFFFFF;
}

.finalSpace .next{
    background-color: var( --blue-4 );
}

.finalSpace .btn:hover,
.finalSpace .btn:focus{
    background-color: var( --blue-4 );
}

.finalSpace .save{
    background-color: var( --blue-2 );
}

.finalSpace .save:hover,
.finalSpace .save:focus{
    background-color: var( --blue-1 );
}

.dataSpace{
    height: 60px;
    background-color: #FFFFFF;
    border-top: 1px solid #DDDDDD;
}

.move{
    height: 100%;
    width: 40px;
    cursor: pointer;
}

.move .moveContent{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.move-right .moveContent{
    transform: rotateY( 180deg );
}

.move .moveContent .items{
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: var( --blue-4 );
}

.move .moveContent .item1{
    transform: rotate( -35deg );
    top: 9.5px;
}

.move .moveContent .item2{
    transform: rotate( 35deg );
    bottom: 9.5px;
}

.itemList{
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.itemList .itemContent{
    position: absolute;
    height: 100%;
}

.itemList .itemContent .items{
    display: inline-block;
    width: 60px;
    height: 50px;
    min-width: 50px;
    border: 1px solid #DDDDDD;
    margin-right: 3px;
    cursor: pointer;
    border-radius: 4px;
}

.simulationItems{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
}

.simulationItems img{
    display: block;
    max-width: 94%;
    max-height: 94%;
}

.currentItem{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    z-index: 120;
    border-radius: 100%;
    cursor: pointer;
}

.paquet{
    border: none !important;
    transform: scale( 0.9 );
}

.currentRound{
    display: block;
    position: fixed;
    height: 20px;
    width: 20px;
    z-index: 130;
    border-radius: 100%;
    background-color: #000000;
    cursor: pointer;
}

.currentBar{
    display: block;
    position: fixed;
    height: 0px;
    width: 6px;
    z-index: 135;
    background-color: #000000;
    border-radius: 4px;
    cursor: pointer;
}

.currentItem .simulationItems{
    height: 75%;
    width: 75%;
}

[data-toolip]::after{
    content: attr( data-toolip );
    display: flex;
    position: absolute;
    transition-duration: 0.5s;
    color: transparent;
    width: 100%;
    height: 20px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

[data-toolip]:hover::after{
    font-size: 0.6em;
    color: #FFFFFF;
    z-index: 25;
    font-weight: bold;
    background-color: rgba( 0, 0, 0, 0.5 );
    -webkit-backdrop-filter: blur( 3px );
    backdrop-filter: blur( 3px );
}

.Stape{
    flex: 1;
}

.Stape .descriptionSpace{
    font-size: 0.75em;
    color: #888888;
    letter-spacing: 0.12em;
}

.Stape .contentSelectionSpace{
    flex: 1;
}

.Stape .selectionSpace{
    width: 96%;
    height: 96%;
    max-width: 700px;
    max-height: 500px;
    flex-wrap: wrap;
}

.Stape .selectionSpace .content{
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    border-bottom: 4px solid var( --blue-4 );
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.Stape .selectionSpace .content::before{
    content: " ";
    display: inline-block;
    position: relative;
    width: 0%;
    height: 0%;
    max-width: 90%;
    max-height: 90%;
    background-color: rgba( 250, 250, 250, 0.8 );
    animation: resize 3s ease-out 0s infinite;
    border-radius: 100%;
}

.Stape .selectionSpace .content::after{
    content: " ";
    display: inline-block;
    position: relative;
    width: 0%;
    height: 0%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba( 220, 220, 220, 0.8 );
    animation: resize 3s ease-out 1s infinite;
    border-radius: 100%;
}

.Stape .beginSelectionSpace .content::after,
.Stape .beginSelectionSpace .content::before{
    opacity: 0.5;
}

@keyframes resize {
    0%{
        width: 0%;
        height: 0%;
    }

    50%{
        width: 300px;
        height: 300px;
    }

    100%{
        width: 0%;
        height: 0%;
    }
}

#accordion{
    border-radius: 3px !important;
    border: 0px !important;
}

#accordion > .card{
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 0.9em;
    border: 0px !important;
}

#accordion .card .head-content{
    padding: 30px 15px;
    background-color: #FFFFFF;
    border-top: 3px solid var( --blue-1 );
    color: var( --blue-1 );
}

#accordion .card-content{
    padding: 45px 20px;
    background-color: #FFFFFF;
    border-top: 2px solid var( --light-1 );
    font-size: 0.88em;
    color: #AAAAAA;
}

.simulation-card{
    border-top: 3px solid var( --blue-2 ) !important;
}

.simulation-card:hover{
    border-top-color: var( --blue-1 ) !important;
}

.simulation-card .card-head{
    color: var( --blue-2 );
    font-size: 1.2em;
    padding: 15px 0px;
    font-weight: bold;
}

.simulation-card:hover .card-head{
    color: var( --blue-1 );
}

.simulation-card .description{
    padding: 20px 15px;
    font-size: 0.95em;
    color: #555555;
}

.simulation-card a:hover,
.simulation-card a{
    font-size: 0.95em;
    background-color: var( --blue-2 );
    color: #FFFFFF;
    border-width: 2px;
    font-weight: bold;
    border-radius: 3px !important;
}

.simulation-card a:hover{
    background-color: var( --blue-1 );
}

.simulation-card .btn-outline{
    font-size: 0.95em;
    border-color: var( --blue-2 );
    color: var( --blue-2 );
    border-width: 2px;
    font-weight: bold;
    border-radius: 3px !important;
    background-color: transparent !important;
}

.simulation-card .btn-outline:hover{
    border-color: var( --blue-1 );
    color: var( --blue-1 );
    background-color: transparent !important;
}

.simulation-card .card-body div{
    overflow: auto;
}

.creation-box{
    background-color: var( --blue-4 );
    border-radius: 3px;
    background-image: url( "/img/private/server1.jpg" );
    background-size: 100% 100%;
    overflow: hidden;
    border-top: 3px solid #FFFFFF;
}

.creation-box::before{
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-image: linear-gradient( 120deg, rgba( 85, 100, 255, 0.6 ), rgba( 153, 175, 255, 0.9 ) );
    -webkit-backdrop-filter: blur( 7px );
    backdrop-filter: blur( 7px );
}

.creation-box .title{
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
}

.creation-box input,
.creation-box textarea{
    outline: none;
    padding: 10px 15px;
    padding-right: 3px;
    font-size: 0.86em;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba( 255, 255, 255, 0.6 );
    -webkit-backdrop-filter: blur( 3px );
    backdrop-filter: blur( 3px );
    border-radius: 4px;
    max-width: 90%;
}

.creation-box input::placeholder,
.creation-box textarea::placeholder{
    color: #000000;
    opacity: 0.6;
}

.creation-box .btn,
.creation-box .btn:hover{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 0.75em;
    font-weight: 600;
    border-radius: 3px !important;
    letter-spacing: 0.15em;
}

.box-add{
    background-color: #FFFFFF;
    border-bottom: 5px solid var( --blue-1 );
    border-top: 30px solid var( --blue-1 );
    overflow: hidden;
}

.box-add::before{
    content: " ";
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    left: -40px;
    bottom: -50px;
    background-color: var( --blue-1 );
    border-radius: 100%;
}

.box-add .title{
    font-size: 0.95em;
    color: var( --blue-1 );
    font-weight: 600;
}

.box-add .form input{
    padding: 10px 25px;
    font-size: 0.85em;
    border: 2px solid transparent;
    border-bottom-color: var( --blue-1 );
    background-color: #FAFAFF;
    border-radius: 4px;
    outline: none;
    -webkit-backdrop-filter: blur( 70px );
    backdrop-filter: blur( 70px );
}

.box-add .btn:hover,
.box-add .btn{
    font-size: 0.83em;
    background-color: var( --blue-1 );
    color: #FFFFFF;
    font-weight: bold;
}

.training-row{
    font-size: 0.9em;
}

.training-col{
    border-top: 2px solid var( --light-1 );
    font-size: 0.88em;
    color: #AAAAAA;
}

@media screen and ( min-width: 576px ) {
    .dataSpace{
        height: 100% !important;
        max-height: 100% !important;
        width: 60px;
        border-top: none;
    }

    .move{
        height: 50px;
        width: 100%;
        margin: 0px;
    }
    
    .move .moveContent{
        transform: rotateZ( 90deg );
    }
    
    .move-right .moveContent{
        transform: rotateY( 180deg ) rotateZ( -90deg );
    }

    .itemList{
        flex: 1;
        height: auto !important;
        width: 100%;
    }
    
    .itemList .itemContent{
        position: absolute;
        height: auto;
        width: 100%;
    }

    .itemList .itemContent .items{
        margin-right: 0px;
        margin-bottom: 3px;
    }

    .currentItem{
        width: 55px;
        height: 55px;
    }
}

@media screen and ( min-width: 650px ) {
    .dataSpace{
        width: 110px;
    }

    .itemList .itemContent .items{
        width: 75px;
        height: 75px;
    }

    .currentItem{
        width: 65px;
        height: 65px;
    }
}