.message{
    font-size: 1.45em;
    font-weight: 600;
    color: var( --blue-1 );
}

.content-items .items{
    max-width: 350px;
    min-width: 250px;
    border-top: 3px solid var( --blue-1 ) !important;
}

.items .content-img::after{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var( --blue-1 );
    opacity: 0.6;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.items img{
    width: 100% !important;
    height: 200px;
}

.items span{
    font-size: 0.9em;
    font-weight: bold;
    color: var( --blue-1 );
}

.items p{
    font-size: 0.85em;
}

.items a{
    border-color: var( --blue-1 );
    color: var( --blue-1 );
    font-size: 0.85em;
    font-weight: bold;
    border-width: 2px !important;
}

.items a:hover{
    background-color: var( --blue-1 );
    color: #FFFFFF;
}