.message{
    font-size: 1.25em;
    font-weight: 600;
    color: var( --purple-2 );
}

.api{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 250;
    background-color: rgba( 255, 255, 255, 0.6 );
    -webkit-backdrop-filter: blur( 10px );
    backdrop-filter: blur( 10px );
    user-select: none !important;
}

.api-create{
    z-index: 500;
}

.api-more{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba( 255, 255, 255, 0.6 );
    z-index: 500;
    -webkit-backdrop-filter: blur( 20px );
    backdrop-filter: blur( 20px );
}

.api-more-content{
    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: #FFFFFF;
}

.more-option{
    border-bottom: 3px solid var( --purple-1 );
    font-weight: 600;
    font-size: 0.9em;
}

.more-error .more-option{
    border-bottom-color: #FF1122;
}

.api .start{
    border-top: 4px solid var( --blue-4 );
    height: 65px;
    background-color: rgba( 250, 250, 250, 0.8 );
}

.more-error .start{
    border-top: 4px solid #FF1122;
}

.api .start .name{
    flex: 1;
    font-size: 1.25em;
    font-weight: 600;
    color: var( --blue-4 );
}

.api #class-icon{
    background-color: var( --blue-4 );
    border-radius: 100%;
    padding: 12px 12px;
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: bold;
}

.more-error .start .name{
    color: #FF1122;
}

.api .start ._icon .items{
    background-color: var( --blue-4 );
}

.more-error .start ._icon .items{
    background-color: #FF1122;
}

.api .end{
    flex: 1;
}

.api .end .end-content{
    flex: 1;
    max-height: calc( 100% - 55px );
}

.api .end .workSpace{
    flex: 1;
}

.api-class .end{
    overflow: hidden !important;
}

.contentSpace{
    flex: 1;
}

.buttonSpace{
    height: 50px;
}

.buttonSpace .member{
    border: none;
    background-color: var( --purple-2 );
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 600;
    box-shadow: none !important;
}

.buttonSpace .statistic{
    border: 2px solid var( --purple-2 );
    background-color: transparent;
    color: var( --purple-2 );
    border-radius: 3px;
    font-size: 0.85em;
    font-weight: 600;
    box-shadow: none !important;
}

.spaceHead{
    height: 50px;
}

.listSpaceItem{
    flex: 1;
}

.spaceSimulationListContent .row{
    max-width: 100% !important;
}

.spaceSimulationListContent .simulation-card{
    font-size: 0.7em;
}

.dataSpaceItem{
    position: absolute;
    width: 100%;
    z-index: 200;
    background-color: rgba( 255, 255, 255, 0.5 );
    -webkit-backdrop-filter: blur( 6px );
    backdrop-filter: blur( 6px );
}

.spaceTitle{
    font-weight: 600;
    font-size: 0.9em;
    flex: 1;
}

.user{
    border-radius: 3px;
    background-color: #FFFFFF;
}

.user .icon{
    height: 30px;
    width: 30px;
    background-color: var( --purple-2 );
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 0.85em;
}

.user .user-data{
    flex: 1;
}

.user .user-data div{
    flex: 1;
}

.user .user-name{
    font-size: 0.8em;
    color: #000000;
    font-weight: 900;
}

.user button:hover,
.user button:focus,
.user button{
    background-color: var( --purple-2 );
    color: #FFFFFF;
    font-size: 0.65em;
    font-weight: 600;
    box-shadow: none;
}

.api-text{
    font-size: 1.15em;
    letter-spacing: 0.12em;
}

.api-bar{
    background-color: var( --blue-4 );
    border-radius: 5px;
    height: 4px;
    width: 80%;
    max-width: 150px;
    margin-top: 60px;
}

.mainSpace{
    flex: 1;
}

.finalSpace .btn{
    font-size: 0.85em;
    color: #FFFFFF;
    border: none;
}

.finalSpace .btn:hover,
.finalSpace .btn:focus{
    box-shadow: none;
    color: #FFFFFF;
}

.finalSpace .save{
    background-color: #FFFFFF !important;
    color: var( --blue-4 ) !important;
    border: 2px solid var( --blue-4 ) !important;
    border-radius: 4px;
    font-weight: 600;
}

.finalSpace .next{
    background-color: var( --blue-4 );
}

.finalSpace .btn:hover,
.finalSpace .btn:focus{
    background-color: var( --blue-4 );
}

.finalSpace .save{
    background-color: var( --blue-2 );
}

.finalSpace .save:hover,
.finalSpace .save:focus{
    background-color: var( --blue-1 );
}

.dataSpace{
    height: 60px;
    border-top: 1px solid #DDDDDD;
}

.dataSpaceItem{
    border-left: 2px solid #EEEEEE !important;
}

.data-title{
    display: inline-block;
    color: #000000;
    font-size: 0.9em;
    font-weight: 600;
}

.data-val{
    display: inline-block;
    font-size: 0.85em;
}

.progression{
    display: block;
    width: 85%;
    border: 1px solid var( --purple-2 );
    height: 20px;
    background-color: #FFFFFF;
}

.win{
    width: 80%;
}

.taux{
    width: 45%;
}

.indice{
    width: 2%;
}

.progression .progression-bar{
    position: absolute;
    height: 100%;
    width: attr( data-val );
    font-size: 0.85em;
    color: #FFFFFF;
    background-color: var( --purple-2 );
    text-align: center;
}

.addSimulation{
    width: 30px;
    height: 30px;
    background-color: var( --purple-2 );
    border-radius: 100%;
    cursor: pointer;
    border: 5px solid #FFFFFF;
}

.addSimulation .items{
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.addSimulation .item1{
    transform: rotate( 90deg );
}

.move{
    height: 100%;
    width: 40px;
    cursor: pointer;
}

.move .moveContent{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.move-right .moveContent{
    transform: rotateY( 180deg );
}

.move .moveContent .items{
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: var( --blue-4 );
}

.move .moveContent .item1{
    transform: rotate( -35deg );
    top: 9.5px;
}

.move .moveContent .item2{
    transform: rotate( 35deg );
    bottom: 9.5px;
}

.itemList{
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.itemList .itemContent{
    position: absolute;
    height: 100%;
}

.itemList .itemContent .items{
    display: inline-block;
    width: 60px;
    height: 50px;
    min-width: 50px;
    border: 1px solid #DDDDDD;
    margin-right: 3px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba( 250, 250, 250, 0.8 );
}

.simulationItems{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
}

.simulationItems img{
    display: block;
    max-width: 94%;
    max-height: 94%;
}

.currentItem{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgba( 250, 250, 250, 0.9 );
    z-index: 120;
    border-radius: 100%;
    cursor: pointer;
}

.paquet{
    border: none !important;
    transform: scale( 0.9 );
}

.currentRound{
    display: block;
    position: fixed;
    height: 20px;
    width: 20px;
    z-index: 130;
    border-radius: 100%;
    background-color: #000000;
    cursor: pointer;
}

.currentBar{
    display: block;
    position: fixed;
    height: 0px;
    width: 6px;
    z-index: 135;
    background-color: #000000;
    border-radius: 4px;
    cursor: pointer;
}

.itemError{
    border: 2px solid rgba( 255, 0, 0, 0.7 ) !important;
}

.currentItem .simulationItems{
    height: 75%;
    width: 75%;
}

[data-toolip]::after{
    content: attr( data-toolip );
    display: flex;
    position: absolute;
    transition-duration: 0.5s;
    color: transparent;
    width: 100%;
    height: 20px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

[data-toolip]:hover::after{
    font-size: 0.6em;
    color: #FFFFFF;
    z-index: 25;
    font-weight: bold;
    background-color: rgba( 0, 0, 0, 0.5 );
    -webkit-backdrop-filter: blur( 3px );
    backdrop-filter: blur( 3px );
}

[data-part-toolip]::after{
    content: attr( data-part-toolip );
    display: flex !important;
    position: absolute;
    transition-duration: 0.5s;
    color: transparent;
    min-height: 20px;
    min-width: 120px;
    left: calc( 50% - 60px );
    top: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    color: #FFFFFF;
    z-index: 25;
    font-weight: bold;
    background-color: rgba( 0, 0, 0, 0.8 );
    -webkit-backdrop-filter: blur( 3px );
    backdrop-filter: blur( 3px );
}

.Stape{
    flex: 1;
}

.Stape .descriptionSpace{
    font-size: 1.1em;
    color: #000000;
    letter-spacing: 0.12em;
}

.Stape .contentSelectionSpace{
    flex: 1;
}

.Stape .selectionSpace{
    width: 96%;
    height: 96%;
    max-width: 700px;
    max-height: 500px;
    flex-wrap: wrap;
    background-color: rgba( 250, 250, 250, 0.8 );
}

.Stape .selectionSpace .content{
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    border-bottom: 4px solid var( --blue-4 );
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.Stape .selectionSpace .content::before{
    content: " ";
    display: inline-block;
    position: relative;
    width: 0%;
    height: 0%;
    max-width: 90%;
    max-height: 90%;
    background-color: rgba( 250, 250, 250, 0.8 );
    animation: resize 3s ease-out 0s infinite;
    border-radius: 100%;
}

.Stape .selectionSpace .content::after{
    content: " ";
    display: inline-block;
    position: relative;
    width: 0%;
    height: 0%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba( 220, 220, 220, 0.8 );
    animation: resize 3s ease-out 1s infinite;
    border-radius: 100%;
}

.Stape .beginSelectionSpace .content::after,
.Stape .beginSelectionSpace .content::before{
    opacity: 0.5;
}

@keyframes resize {
    0%{
        width: 0%;
        height: 0%;
    }

    50%{
        width: 300px;
        height: 300px;
    }

    100%{
        width: 0%;
        height: 0%;
    }
}

#accordion{
    border-radius: 3px !important;
    border: 0px !important;
}

#accordion > .card{
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 1.2em;
    border: 0px !important;
}

#accordion .card .head-content{
    padding: 30px 15px;
    background-color: #FFFFFF;
    border-top: 3px solid var( --purple-2 );
    color: var( --purple-2 );
}

#accordion .card-content{
    padding: 45px 20px;
    background-color: #FFFFFF;
    border-top: 2px solid var( --light-1 );
    font-size: 0.88em;
    color: #AAAAAA;
}

.simulation-card:hover,
.simulation-card{
    border-top: 3px solid var( --purple-2 ) !important;
    background-color: #FFFFFF;
}

.simulation-card .card-head{
    font-size: 1.2em;
    padding: 15px 0px;
    font-weight: bold;
}

.simulation-card .card-head,
.simulation-card:hover .card-head{
    color: var( --purple-2 );
}

.simulation-card .description{
    padding: 20px 15px;
    font-size: 0.95em;
    color: #555555;
}

.simulation-card .openClassButton:hover,
.simulation-card .openClassButton:focus,
.simulation-card .openClassButton,
.simulation-card .startSimulationButton:focus,
.simulation-card .startSimulationButton:hover,
.simulation-card .startSimulationButton{
    font-size: 0.85em;
    background-color: var( --purple-2 );
    color: #FFFFFF;
    border-width: 2px;
    font-weight: bold;
    border-radius: 3px !important;
    box-shadow: none;
}

.simulation-card .showSimulationButton:hover,
.simulation-card .showSimulationButton{
    font-size: 0.85em;
    border: 3px solid var( --purple-2 );
    color: var( --purple-2 );
    border-width: 2px;
    font-weight: bold;
    border-radius: 3px !important;
}

.simulation-card .btn-outline{
    font-size: 0.85em;
    border-color: var( --purple-2 );
    color: var( --purple-2 );
    border-width: 2px;
    font-weight: bold;
    border-radius: 3px !important;
    background-color: transparent !important;
}

.simulation-card .btn-outline:hover{
    background-color: var( --purple-2 ) !important;
    color: #FFFFFF;
}

.simulation-card .card-body div{
    overflow: auto;
}

.simulation-card{
    overflow: hidden !important;
}

.simulation-card::after{
    content: " ";
    display: block;
    position: absolute;
    width: 150px;
    height: 60px;
    background-color: var( --purple-2 );
    left: -60px;
    bottom: -30px;
    transform: rotate( 40deg );
}

.content-navbar::before{
    background-image: linear-gradient( 120deg, rgba( 72, 55, 129, 0.8 ), rgba( 85, 100, 255, 0.6 ) );
}

.creation-box{
    background-color: var( --purple-2 );
    border-radius: 3px;
    background-image: url( "/img/private/server1.jpg" );
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 6px !important;
    overflow: hidden !important;
    max-width: 400px;
    min-height: 450px;
}

.creation-box::before{
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-image: linear-gradient( 120deg, rgba( 72, 55, 129, 0.8 ), rgba( 85, 100, 255, 0.6 ) );
    -webkit-backdrop-filter: blur( 5px );
    backdrop-filter: blur( 5px );
    border-radius: 4px !important;
}

.creation-box .title{
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
}

.creation-box input,
.creation-box textarea{
    outline: none;
    padding: 10px 15px;
    padding-right: 3px;
    font-size: 0.86em;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba( 255, 255, 255, 0.6 );
    -webkit-backdrop-filter: blur( 3px );
    backdrop-filter: blur( 3px );
    border-radius: 4px;
    max-width: 90%;
}

.creation-box input::placeholder,
.creation-box textarea::placeholder{
    color: #000000;
    opacity: 0.8;
}

.creation-box .btn,
.creation-box .btn:hover{
    background-color: #FFFFFF;
    color: var( --purple-2 );
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 3px !important;
    letter-spacing: 0.15em;
}

#simulation-creation-error{
    font-size: 0.9em;
    font-weight: 600;
}

.box-add{
    background-color: #FFFFFF;
    overflow: hidden;
    padding-bottom: 80px !important;
    padding-top: 100px !important;
    max-width: 400px;
}

.box-add::before{
    content: " ";
    display: block;
    position: absolute;
    height: 150px;
    width: 120%;
    left: -10%;
    top: -80px;
    transform: rotate( 10deg );
    background-color: var( --purple-2 );
}

.box-add::after{
    content: " ";
    display: block;
    position: absolute;
    height: 150px;
    width: 120%;
    left: -10%;
    bottom: -80px;
    transform: rotate( 10deg );
    background-color: var( --purple-2 );
}

.box-add .title{
    font-size: 0.95em;
    color: var( --purple-2 );
    font-weight: 600;
}

.box-add .form input{
    padding: 10px 25px;
    font-size: 0.85em;
    border: 2px solid transparent;
    border-bottom-color: var( --purple-2 );
    background-color: #FAFAFF;
    border-radius: 4px;
    outline: none;
    -webkit-backdrop-filter: blur( 70px );
    backdrop-filter: blur( 70px );
}

.box-add .form input::placeholder{
    opacity: 0.8;
    color: #000000;
}

.box-add .btn:hover,
.box-add .btn{
    font-size: 0.83em;
    background-color: var( --purple-2 );
    color: #FFFFFF;
    font-weight: bold;
}

.training-row{
    font-size: 0.9em;
}

.training-col{
    border-top: 2px solid var( --light-1 );
    font-size: 0.88em;
    color: #AAAAAA;
}

#contentSimulationToAdd .simulation-card{
    height: 150px !important;
    font-size: 0.8em !important;
}

.sendSimulation{
    z-index: 250;
    left: 0px;
    top: 0px;
    background-color: rgba( 255, 255, 255, 0.6 );
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
}

.sendSimContent{
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    max-width: 500px;
}

.sendSimContent .name{
    flex: 1;
    font-size: 0.9em;
    font-weight: 600;
}

.sendSimContent .icon{
    background-color: #000000 !important;
}

.sendSimContent .user-action:hover,
.sendSimContent .user-action{
    background-color: #000000;
}

@media screen and ( min-width: 576px ) {
    .dataSpaceItem{
        max-width: 350px;
    }

    .for-training{
        transform: scale( 0.99 );
        transition: transform 0.3s;
    }

    .for-training:hover{
        transform: scale( 1 );
    }

    .dataSpace{
        height: 100% !important;
        max-height: 100% !important;
        width: 60px;
        border-top: none;
    }

    .move{
        height: 50px;
        width: 100%;
        margin: 0px;
    }
    
    .move .moveContent{
        transform: rotateZ( 90deg );
    }
    
    .move-right .moveContent{
        transform: rotateY( 180deg ) rotateZ( -90deg );
    }

    .itemList{
        flex: 1;
        height: auto !important;
        width: 100%;
    }
    
    .itemList .itemContent{
        position: absolute;
        height: auto;
        width: 100%;
        margin-top: 4px;
    }

    .itemList .itemContent .items{
        margin-right: 0px;
        margin-bottom: 3px;
    }

    .currentItem{
        width: 55px;
        height: 55px;
    }
}

#contentSimulationToAdd .description{
    display: none !important;
}

@media screen and ( min-width: 776px ) {
    .dataSpaceItem{
        position: relative;
    }
}

@media screen and ( min-width: 650px ) {
    .dataSpace{
        width: 110px;
    }

    .itemList .itemContent .items{
        width: 75px;
        height: 75px;
    }

    .currentItem{
        width: 65px;
        height: 65px;
    }
}